#### Task 1

    Sales DataFrame (df_sales):
    Columns: shop, product, price, quantity, date
        a. Calculate the total revenue for each shop.
        b. Find the best month for each shop in terms of sales.
        c. Identify the product with the highest average price in each shop.

In [26]:
import pandas as pd

data = {
    'shop': [
        'shop1', 'shop1', 'shop2', 'shop2', 'shop1', 'shop2',
        'shop3', 'shop3', 'shop1', 'shop2', 'shop3', 'shop1'
    ],
    'product': [
        'apple', 'banana', 'apple', 'banana', 'orange', 'orange',
        'grape', 'melon', 'grape', 'melon', 'apple', 'banana'
    ],
    'price': [
        10, 15, 10, 15, 20, 25,
        12, 30, 11, 28, 14, 16
    ],
    'quantity': [
        5, 3, 6, 2, 4, 1,
        7, 3, 8, 4, 5, 6
    ],
    'date': pd.to_datetime([
        '2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15',
        '2023-03-01', '2023-03-15', '2023-04-01', '2023-04-15',
        '2023-05-01', '2023-05-15', '2023-06-01', '2023-06-15'
    ])
}

df = pd.DataFrame(data)
print(df)

     shop product  price  quantity       date
0   shop1   apple     10         5 2023-01-01
1   shop1  banana     15         3 2023-01-15
2   shop2   apple     10         6 2023-02-01
3   shop2  banana     15         2 2023-02-15
4   shop1  orange     20         4 2023-03-01
5   shop2  orange     25         1 2023-03-15
6   shop3   grape     12         7 2023-04-01
7   shop3   melon     30         3 2023-04-15
8   shop1   grape     11         8 2023-05-01
9   shop2   melon     28         4 2023-05-15
10  shop3   apple     14         5 2023-06-01
11  shop1  banana     16         6 2023-06-15

In [27]:
# Calculate the total revenue for each shop.
df['revenue'] = df['price'] * df['quantity']

total_revenue = df.groupby(['shop'])['revenue'].sum()

print(total_revenue)

shop
shop1    359
shop2    227
shop3    244
Name: revenue, dtype: int64

In [28]:
# Find the best month for each shop in terms of sales.
df['month'] = df['date'].dt.to_period('M')

total_revenue_by_month = df.groupby(['shop','month'])['revenue'].sum()

print(total_revenue_by_month.groupby('shop').idxmax())

shop
shop1    (shop1, 2023-06)
shop2    (shop2, 2023-05)
shop3    (shop3, 2023-04)
Name: revenue, dtype: object

In [29]:
# Identify the product with the highest average price in each shop.
avg_price = df.groupby(['shop', 'product'])['price'].mean()
highest_avg_price = avg_price.groupby('shop').idxmax()

print(highest_avg_price)

shop
shop1    (shop1, orange)
shop2     (shop2, melon)
shop3     (shop3, melon)
Name: price, dtype: object